[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"
pipenv-setup = "*"
connect-api = {editable = true,path = "."}

[packages]
selenium = "*"
chromedriver-autoinstaller = "*"
bs4 = "*"
datetime = "*"

[pipenv]
allow_prereleases = true

[scripts]
test = "python tests/test.py"
sync-setup = "pipenv-setup sync"
format = "black -l 80 ."
lint = "flake8 --ignore=E203,W503 --max-line-length=80"
